@import url('https://fonts.googleapis.com/css2?family= Kdam+Thmor+Pro & display=swap') ;

* {
    margin: 0;
    padding: 0;
    background-color: #000;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

body {
    height: 100%;
    width: 100%;
}

#logo{
    height: auto;
    width: 150px;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

li {
    list-style: none;
    color:aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: 0.5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #d21617;
}


h1 {
    color: aliceblue;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Kdam Thmor Pro', sans-serif;
    transition: .8s;
    animation: animacao 2.5s;
    margin-top: 50px;
    text-align: center;
}
h1:hover {
    color: #d21617;
}

#mestra {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   border: none; 
   margin-top: 50px;
   animation: animacao 2s;  
}
@keyframes animacao{ 
    0% {
        margin-top: 500px;
    }

    50%{
        margin-top: 25px;
    }
    

    100%{
        margin-top: 50px;
    }
    
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards {    
    width: 90%;
    height: 35%;
    border-radius: 7px;  
    margin: 20px; 
    cursor: pointer;
    transition: 1s;
}
.cards:hover {
    transform: scale(1.04);
    
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;   
}

span {
    color: #fff;
    font-family:'Kdam Thmor Pro', sans-serif ;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 1200px) {

        .cards {    
            width: 80%;
            height: 20%;
        }
}    

@media(max-width: 662px) {
    #mestra {
        display: flex;
        flex-direction: column;
        margin-top: 50px
    }


    .cards {    
        width: 80%;
        height: 30%;

    }  

    nav {
        display: none;
    }

    .footer-navigation{
        display: flex;
        flex-direction: column;

    }
    
}

@media (max-width: 280px){
    h1 {
        font-size: 20px;
    }
}